# This is an example environment file for the frontend application.
# Copy this file to .env and update the values as needed.
# The format of the NEXT_PUBLIC_APP_API_URL variable is: http://<host>:<port>/api 
NEXT_PUBLIC_APP_API_URL=http://localhost:8000/api 
