Frontend/node_modules/
Backend/node_modules/
Backend/.venv/
Backend/__pycache__/
Backend/.pytest_cache/
.claude
Backend/app/__pycache__/
Backend/lib/__pycache__/
Backend/tests/__pycache__/
Backend/utils/__pycache__/
Backend/services/__pycache__/
Backend/models/__pycache__/
Backend/middlewares/__pycache__/
Backend/routers/__pycache__/
Backend/schemas/__pycache__/
Frontend/.next/
Backend/app/core/__pycache__/
Backend/app/api/__pycache__/
Backend/app/models/__pycache__/
Backend/app/routers/__pycache__/
Backend/app/schemas/__pycache__/
Backend/app/services/__pycache__/
Backend/app/services/sso/__pycache__/